.VSCodeCounter
.vscode
Assets
imgui.ini
docs/build
docs/Manifest.toml
src/*.mem
src/UI/*.mem
src/QInsControlCore/*.mem
Assets/Confs/*.mem
Assets/Necessity/conf.toml
Assets/Languages/default.toml
test/TestQInsControl
precompile.jl
compile.jl
QInsControl.iss
RestructConf.jl
Manifest.toml